@{
    ViewData["Title"] = "Ingridient list";
}
@using lab5.Data.Models
@using lab5.Models
@model IndexViewModel<Ingridient>
<div>
    <h2>@Html.ActionLink("add new ingridient", "CreateView", "Ingridients")</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("change", "Update", "Ingridients", new { id=item.Id })</td>
                <td>@Html.ActionLink("delete", "Delete", "Ingridients", new { id=item.Id })</td>
            </tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Forward
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
Footer
© 2022 GitHub, Inc.