@{
    ViewData["Title"] = "Dish description";
}
@using lab5.Data.Models
@model Dish

<div>
    <h3>New dish adding</h3>
    <p>
        <label>Name: @Model.Name</label><br />
    </p>
    <p>
        <label>Cost: @Model.Cost</label><br />
    </p>
    <p>
        <label>CookingTime: @Model.CookingTime</label><br />
    </p>
    <p>
        <label>Ingridients:</label><br />
        @foreach (var ingridientDish in Model.IngridientsDishes)
        {
            <label>@ingridientDish.Ingridient.Name - @ingridientDish.IngridientWeight g</label><br />
        }
    </p>
</div>