@{
    ViewData["Title"] = "Employee list";
}
@using lab5.Data.Models
@model IndexViewModel<Employee>
<div>
    <h2>@Html.ActionLink("add new employee", "CreateView", "Employees")</h2>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Middle name</th>
            <th>Age</th>
            <th>Education</th>
            <th>Profession</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.MiddleName</td>
                <td>@item.Age</td>
                <td>@item.Education</td>
                <td>@item.Profession.Name</td>
                <td>@Html.ActionLink("change", "Update", "Employees", new { id=item.Id })</td>
                <td>@Html.ActionLink("delete", "Delete", "Employees", new { id=item.Id })</td>
            </tr>
        }
    </table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Forward
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
Footer
© 2022 GitHub, Inc.
